
.section button{
    float: right;
}
.wrapper .side-bar .menu .item .sub-menu{
    display: block;
}
.dash-menu{
    background-color: #263238;
    padding: 20px 10px 3px 15px;
}
.dash-menu .dash-sec{
    display: flex;
    /* flex-direction: row; */
    }
.dash-menu .dash-sec .dash-input{
    display: flex;
    padding: 0 0 0 10px;
}
.dash-menu .dash-sec .dash-input h4, p{
    color: white;
}
.dash-menu .dash-sec .type-incident-dash{
    padding: 0 0 0 180px;
}
.dash-menu .options{
    margin: 30px 0 10px 0 ;
}
.dash-menu .options a:hover{
    color: rgb(163, 230, 202);
}
.dash-menu .options i{
    padding: 0 7px;
}
.dash-menu .options a{
    /* display: block; */
    padding: 20px 10px;
    color: rgb(255, 255, 255);
}


/* INCIDENT REPORT START */

.content{
    margin: 10px;
    display: grid;
    font-weight: bold;
    flex-direction: row;
    
}

.header {
    grid-column: 1 / span 3;
    grid-row: 1;
    
}

.title {
    justify-content: center;
}

.subheader, .reportingpersondetails {
    display: flex;
    flex-direction: row;
}

.subheader {
    grid-column: 1 / span 3;
    grid-row: 2;
    justify-content: center;
}


.blotternumber, .daycounter {
    display: flex;
    flex-direction: column;
    
}


/* INCIDENT REPORT END */